.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    margin-bottom: 20px;
  }
  
  .left-section, .right-section {
    display: flex;
    align-items: center;
  }
  
  .react-logo {
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .btn-header {
    color: white !important;
    margin: 0px 10px;
  }